$color-primary : white;
$color-secendry:   #6949FF;
$color-fail: rgb(249, 109, 15);
$color-success : rgb(71, 200, 71);
$headline-color :  #00214d;
$color-hidden :#ce93f5;
$color-regulare   : #b65ef1;
