
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import "colors";
$regulare_px :5px;
$font-family :  'Fredoka One', cursive;
*{
    padding: 0;
    margin: 0;
    font-family: $font-family;
   
    
}
body{
    background-color: rgb(48, 14, 58);
}
header{
    position: sticky;
}
.color-primary{
    color: $color-primary;
}
.color-secendry{
    color: $color-secendry;
}
.d-none{
    display: none;
}
.font{
    font-family: $font-family;
}
.center{
    margin: auto;
}
.margin-regulare{
  margin-top:20px;
}
@mixin change_width($size){
    @media screen and (min-width: 750px){
       width: $size;
    }
}
@mixin change_font($size){
    @media screen and (min-width: 750px){
       font-size: $size;
    }
}
@import "quiz";
@import "home";
@import "sign";


        
